body {
  font-size: .938rem;
  font-family: "Montserrat", sans-serif;
  color: #6D708D;
  background-color: #F6F6FE;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 10px;
  margin: 0;
  background-image: url("../images/bg-top.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: 210px;
  background-position-y: -25px;
}

main {
  width: 90%;
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  text-align: center;
}

/* Toggle Styling */

.toggle-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toggle-section {
  text-align: center;
  padding-bottom: 2em;
  display: flex;
  align-items: center;
}

.toggle-section p {
  padding: 0 1em;
  margin-right: 6px;
  color: #B3B5C6;
}

.toggle-section input {
  height: 0;
  width: 0;
  opacity: 0;
}

.switch {
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: 45px;
  height: 27px;
  background: linear-gradient(90deg, #A3A8F0, #696FDD);
  border-radius: 34px;
}

.switch:hover {
  background: #A3A8F0;
}


.ball {
  position: absolute;
  height: 21px;
  width: 21px;
  left: 3px;
  bottom: 3px;
  border-radius: 50%;
  background-color: #fff;
  transition: transform 0.2s ease-out;
}

.ball.move-right {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

/* Card Styling */

.card {
  background: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 40px;
  padding: 30px;
  border-radius: 15px;
  min-width: 275px;
  max-width: 300px;
  box-shadow: 0 0px 15px rgba(0,0,0,0.05), 0 6px 6px rgba(0,0,0,0.05)
}

h2 {
  font-size: 1.25em;
  margin: 0;
}

h3 {
  color: #494C5F;
  font-size: 2em;
  display: flex;
  align-items: center;
  margin: 20px 0 15px 0;
}

h3 span {
  font-size: 2.25em;
}

ul {
  list-style: none;
  padding: 0;
  border-top: 1px solid #dcdcdc;
  width: 100%;
  text-align: center;
  margin-bottom: 25px;
}

li {
  padding: 20px 0;
  border-bottom: 1px solid #dcdcdc;
  font-size: 1em;
}

a {
  text-decoration: none;
  width: 100%;
  padding: 15px 0;
  background: linear-gradient(90deg, #A3A8F0, #696FDD);
  text-align: center;
  text-transform: uppercase;
  color: #FFF;
  font-size: 1em;
  border-radius: 5px;
  border: 1px solid;
}

.basic a:hover,
.master a:hover {
  color: #696FDD;
  border: 1px solid #494C5F;
  background: #FFF;
}

.professional {
  background-image: linear-gradient(125deg, #A3A8F0, #696FDD);
}

.professional h2 {
  color: #F6F6FE;
}

.professional h3 {
  color: #FFF;
}

.professional li {
  color: #F6F6FE;
}

.professional a {
  background: #FFF;
  color: #696FDD;
}

.professional a:hover {
  color: #FFF;
  background: linear-gradient(90deg, #A3A8F0, #696FDD);
  border: 1px solid #FFF;
}



@media (min-width: 1024px) {

  body {
    background-image: url("../images/bg-top.svg"), url("../images/bg-bottom.svg");
    background-size: auto auto;
    background-position: top right, bottom left;
    padding: 40px 0px;
  }

  main {
    flex-direction: row;
    padding-top: 25px;
  }

  .switch {
    width: 55px;
    height: 30px;
  }

  .ball {
    height: 24px;
    width: 24px;
  }

  .ball.move-right {
    -webkit-transform: translateX(25px);
    -ms-transform: translateX(25px);
    transform: translateX(25px);
  }

  .professional{
    padding: 50px 30px;
  }

  .basic {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .master {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
}
